<div>
  <h1><%= locals.nickname %>님 안녕하세요!</h1>
  <div>아래 버튼을 눌러 인증을 완료해주세요</div>
  <div
    style="
      display: inline-block;
      padding: 15px;
      background-color: #424242;
      border-radius: 15px;
      margin: 20px;
    "
  >
    <a
      href="<%= locals.endpoint %>?code=<%= locals.code %>"
      style="color: white; font-size: 15px"
      >인증 하기</a
    >
  </div>
  <div> 42world </div>
</div>
